
/* 清除瀏覽器預設 */
html, body {
    margin: 0;
}

.container {
    transform: translateX(0);
    transition: all 1s ease-in-out;
    overflow: hidden;
    font-size: 0; /* 消除inline元素的白色間隔 */
    white-space: nowrap;
}

.size {
    display: inline-block; /* 水平排列 */
    width: 400px;
    height: 300px;
}

.blue {
    background-color: blue;
}

.lightgreen {
    background-color: lightgreen;
}

.brown {
    background-color: brown;
}


/* 遮住右邊兩個圖 */
.mask {
    height: 300px;
    width: 1200px;
    position: absolute;
    background-color: white;
    top: 0;
    left: 400px;
    z-index: 2;
}

/* 讓input隱藏 */
#blue,
#lightgreen,
#brown {
    display: none;
}

/* 控制開關 */
.switcher {
    display: flex;
    position: absolute;
    top: 255px;
    left: 138px;
    z-index: 5; /* 按鈕在最上方 */
}

/* 開關的樣式 */
.switcher label{
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
}
.switcher label:last-child {
    margin-right: 0;
}
.switcher label:hover {
    cursor: pointer;
}

/* 動畫效果 */

#blue:checked ~ .container  {
    transform: translateX(0);
}
#lightgreen:checked ~ .container {
    transform: translateX(-400px);
}
#brown:checked ~ .container {
    transform: translateX(-800px);
}